################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ngCoreSolution/.vs/ngCoreSolution/v15/Server/sqlite3
/ngCoreSolution/obj
/obj